#!/bin/bash

# be strict on failures
set -e

# set required vars
export EOS_RELEASE_TYPE={{ EOS_RELEASE_TYPE }}
export JKZIPDIR="{{ JKZIPDIR }}"
export EOS_ZIP_DIR="{{ JKZIPDIR }}"
export EOS_KEYS_DIR="{{ keysdir }}"
export EOS_DEVICE="{{ target_model }}"
export EOS_CCACHE_DIR="{{ CCACHE_DIR }}"
export EOS_BRANCH_NAME="{{ git_repo_main_branch }}"
export EOS_USE_CCACHE={{ USE_CCACHE }}

cd {{ SRCPATH }}
source build/envsetup.sh

lunch lineage_{{ BDEVICE }}-userdebug

if [ "{{ use_extendrom }}" == "true" ];then

    # enable & use extendrom
    export ENABLE_EXTENDROM={{ use_extendrom }}
    export EXTENDROM_PACKAGES="{{ extendrom_package_list }}"
    
    # all the extendrom MAGIC!!
    vendor/extendrom/get_prebuilts.sh
fi

mka eos
