#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
# CVE exclude list for:
# - 
#################################################################

CVE-2020-0067
CVE-2025-38034
CVE-2022-49980