#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
#################################################################
# format:
# - 1 exclude per line
# - no quotes
# - starting with 2026.002 prepend each block with its build id
#################################################################
# Exclude specific CVE's for:
# - 
#################################################################

CVE-2018-5873
CVE-2022-1184/^5.18/0001.patch
CVE-2023-52879/5.4
CVE-2025-38034
CVE-2022-49980


{% if android_version_int | int > 14 %}
# A15 and later


{% endif %}
