#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
#################################################################
# format:
# - 1 exclude per line
# - no quotes
# - starting with 2026.002 prepend each block with its build id
#################################################################
# Exclude specific CVE's for:
# - klte
#################################################################

CVE-2025-37785/ANY/0001.patch
CVE-2022-49545/ANY/0001.patch
CVE-2025-38034
CVE-2022-49980
CVE-2022-49948
CVE-2025-38219/ANY/0001.patch

# 2026.001
CVE-2022-50578/4.4/0001.patch
CVE-2022-50365/4.4/0001.patch
CVE-2023-53548/4.4/0001.patch
CVE-2025-39808/ANY/0001.patch
CVE-2023-54006/4.4/0001.patch


{% if android_version_int | int > 14 %}
# A15 and later


{% endif %}
