#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
# CVE exclude list for:
# - 
#################################################################

CVE-2018-13913/ANY/0001.patch
CVE-2018-5897
CVE-2018-9514
CVE-2018-11266
CVE-2025-38034
CVE-2022-49980