#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
# CVE exclude list for:
# - 
#################################################################

CVE-2018-5873
CVE-2021-3444
CVE-2021-3600
CVE-2025-38034
CVE-2022-49980