#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
#################################################################
# format:
# - 1 exclude per line
# - no quotes
# - starting with 2026.002 prepend each block with its build id
#################################################################
# Exclude specific CVE's for:
# - 
#################################################################

CVE-2017-5551/3.10/0002.patch
CVE-2017-14880/3.10/0001.patch
CVE-2017-17770/3.4
CVE-2018-3585/3.10/0001.patch
CVE-2019-2297/qcacld-2.0/0001.patch
0002-Misc_Fixes-uid/3.10/0002-alt1.patch
CVE-2017-17712/3.10/0010.patch
CVE-2025-38034
CVE-2022-49980



{% if android_version_int | int > 14 %}
# A15 and later


{% endif %}
