#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
#################################################################
# format:
# - 1 exclude per line
# - no quotes
# - starting with 2026.002 prepend each block with its build id
#################################################################
# Exclude specific CVE's for:
# - cheeseburger
# - dumpling
#################################################################

0008-Graphene-Kernel_Hardening-slab
0008-Graphene-Kernel_Hardening-canaries/4.4/0002.patch
CVE-2019-11599
CVE-2019-19319
CVE-2020-0305
CVE-2020-8992
CVE-2020-16166
CVE-2025-38034
CVE-2022-49980
CVE-2024-47709
CVE-2023-53103/ANY/0001.patch
CVE-2025-37785/ANY/0001.patch
CVE-2022-49552/ANY/0001.patch
CVE-2025-37960/ANY/0001.patch
CVE-2022-49545/ANY/0001.patch
CVE-2022-49801/ANY/0001.patch

CVE-2023-53548/4.4/0001.patch
CVE-2022-50386/4.4/0001.patch
CVE-2023-40283/4.4/0008.patch
CVE-2023-53305/4.4/0001.patch

# 2026.001
CVE-2023-54171/ANY/0001.patch
CVE-2025-71225/ANY/0001.patch

# 2026.005
CVE-2026-43134/4.4/0001.patch

{% if android_version_int | int > 14 %}
# A15 and later


{% endif %}
