#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
# CVE exclude list for:
# - 
#################################################################

CVE-2017-11015/prima
CVE-2021-Misc2/ANY/0031.patch
CVE-2025-38034
CVE-2022-49980