#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
# CVE exclude list for:
# - 
#################################################################

CVE-2017-13162/3.18/0001.patch
CVE-2025-38034
CVE-2022-49980