#################################################################
# Copyright (c) 2024-2026 AXP.OS <project |AT| axpos #dot# org>
#################################################################
# format:
# - 1 exclude per line
# - no quotes
# - starting with 2026.002 prepend each block with its build id
#################################################################
# Exclude specific CVE's for:
# - 
#################################################################

CVE-2017-11015/prima
CVE-2019-11599
CVE-2021-Misc2/ANY/0031.patch
CVE-2025-38034
CVE-2022-49980


{% if android_version_int | int > 14 %}
# A15 and later


{% endif %}
