#!/bin/bash

# be strict on failures
set -e

# do not use ccache on multi model builds!
export USE_CCACHE=0

# avoid build issues on some branches
export LC_ALL=C
export ALLOW_MISSING_DEPENDENCIES=true
export DISABLE_APEX_LIBS_ABSENCE_CHECK=true
{% if android_shortversion == "a9" or android_shortversion == "a10" or android_shortversion == "a11" %}
export TEMPORARY_DISABLE_PATH_RESTRICTIONS=true
{% endif %}

# set source path
export SRCPATH="{{ SRCPATH }}"

# special handling for LG G4
F_GETSPEC(){ grep --text IGNORE_MISC_WIPE_DATA out/target/product/g4/ramdisk-recovery.cpio | wc -l |tr -d '\n' ; }

cd $SRCPATH

# special pre-handling for smt285
if [ "{{ target_model }}" == "gtexslte" ];then
    cd bootable/
    rm recovery || echo skipped
    ln -sf recovery-twrp recovery
    cd $SRCPATH
    export ANDROID_SET_JAVA_HOME=true 
    export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
fi

export PATH="$HOME/.local/bin:$PATH"
gcc --version
python --version

# prepare #
export TW_DEVICE_VERSION="{{ PIPETWRPBUILDVER }}"

# BUILD #
source build/envsetup.sh
lunch {{ LUNCHTARGET }}
mka {{ RECOVERY_MKA_EXTRA_TARGETS }} {{ RECOVERY_MKA_TARGET }}image

# special post-handling for LG G4
if [ "{{ target_model }}" == "g4" ];then
    IGNORE_MISC_WIPE_DATA="$(F_GETSPEC)" 
    if [ $IGNORE_MISC_WIPE_DATA -ne 1 ];then 
    	echo "ERROR: IGNORE_MISC_WIPE_DATA is $IGNORE_MISC_WIPE_DATA!! Must be 1" && exit 3
    else
      	echo "OK: IGNORE_MISC_WIPE_DATA is $IGNORE_MISC_WIPE_DATA"
    fi
   	echo "Return: $?"
fi

# get TWRP version
LOCPATH="$SRCPATH/out/target/product/{{ target_model }}/"
if [ -f $LOCPATH/recovery/root/sbin/recovery ];then
    TWRPRELEASE=$(strings $LOCPATH/recovery/root/sbin/recovery |grep -A 1 ro.twrp.version |grep -v ro.twrp.version | tr -d "\n" |cut -d "-" -f1)
elif [ -f $LOCPATH/obj/EXECUTABLES/recovery_intermediates/data.o ];then
    TWRPRELEASE=$(strings $LOCPATH/obj/EXECUTABLES/recovery_intermediates/data.o |grep -A 1 tw_version |grep -v tw_version | tr -d "\n" |cut -d "-" -f1 )
else
    echo "WARNING: Cannot determine twrp binary for version detection"
    TWRPRELEASE=unknown
fi

cd $LOCPATH
[ ! -d {{ JKZIPDIR }} ] && mkdir -p {{ JKZIPDIR }}
mv -v {{ RECOVERY_MKA_TARGET }}.img {{ JKZIPDIR }}/{{ ROM_FLAVOR }}-${TWRPRELEASE}-{{ PIPETWRPBUILDVER }}_{{ target_model }}.img

# remove compat bin links
#if [ -e ~/.local/bin/python ];then
#    rm ~/.local/bin/python
#else
#    true
#fi
#if [ -e ~/.local/bin/gcc ];then
#    rm ~/.local/bin/gcc
#else
#    true
#fi
#
## remove compat bin links
#if [ -e ~/.local/bin/python ];then
#    rm ~/.local/bin/python
#else
#    true
#fi
#if [ -e ~/.local/bin/gcc ];then
#    rm ~/.local/bin/gcc
#else
#    true
#fi

#gcc --version
#python --version
