<?xml version="1.0" encoding="UTF-8"?>
<manifest>
{% if android_version_int | int > 9 %}
<remote
      name="ansible_los"
      fetch="https://github.com/LineageOS/"
      revision="{{ los_version_gitbranch }}" />

  <project path="external/vim" name="android_external_vim" remote="ansible_los" revision="{{ los_version_gitbranch }}"/>
  {% endif %}
</manifest>
