#!/bin/bash -i

# be strict on failures
set -e

# do not use ccache on multi model builds!
export USE_CCACHE=0

# avoid build issues on some branches
export LC_ALL=C
export ALLOW_MISSING_DEPENDENCIES=true
export DISABLE_APEX_LIBS_ABSENCE_CHECK=true
export TEMPORARY_DISABLE_PATH_RESTRICTIONS=true

# set source path
export SRCPATH="{{ SRCPATH }}"

# special handling for LG G4
F_GETSPEC(){ grep --text IGNORE_MISC_WIPE_DATA out/target/product/g4/ramdisk-recovery.cpio | wc -l |tr -d '\n' ; }

cd $SRCPATH

# special pre-handling for smt285
if [ "{{ target_model }}" == "gtexslte" ];then
    cd bootable/
    rm recovery || echo skipped
    ln -sf recovery-shrp recovery
    cd $SRCPATH
    export ANDROID_SET_JAVA_HOME=true 
    export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
fi

if [ "{{ android_shortversion }}"  == "a9" ];then
    ln -fs /usr/bin/python2 ~/.local/bin/python
    ln -sf /usr/bin/gcc-9 ~/.local/bin/gcc
    source ~/.bashrc
    echo "switched to python2 and gcc-9"
    gcc --version
    python --version
fi

# prepare #
export TW_DEVICE_VERSION="{{ PIPETWRPBUILDVER }}"

# BUILD #
source build/envsetup.sh
lunch {{ LUNCHTARGET }}
TW_DEVICE_VERSION="{{ PIPETWRPBUILDVER }}" mka recoveryimage

# special post-handling for LG G4
if [ "{{ target_model }}" == "g4" ];then
    IGNORE_MISC_WIPE_DATA="$(F_GETSPEC)" 
    if [ $IGNORE_MISC_WIPE_DATA -ne 1 ];then 
    	echo "ERROR: IGNORE_MISC_WIPE_DATA is $IGNORE_MISC_WIPE_DATA!! Must be 1" && exit 3
    else
      	echo "OK: IGNORE_MISC_WIPE_DATA is $IGNORE_MISC_WIPE_DATA"
    fi
   	echo "Return: $?"
fi

# place recovery in a temp dir
[ ! -d {{ JKZIPDIR }} ] && mkdir -p {{ JKZIPDIR }}
cp -v out/target/product/{{ target_model | regex_replace('_lockedbl','') }}/SHRP_v*.zip {{ JKZIPDIR }}/

# remove compat bin links
if [ -e ~/.local/bin/python ];then
    rm ~/.local/bin/python
else
    true
fi
if [ -e ~/.local/bin/gcc ];then
    rm ~/.local/bin/gcc
else
    true
fi

gcc --version
python --version
