#!/bin/bash
#####################################################################################################################
# global vars for AXP.OS and the defaults for the PRO flavor
#
# can be overwritten / extended by device specific definitions.
# Device example:
#   roles/axp/common/g4/vars/main.yml
#
#####################################################################################################################

# General
export DOS_WORKSPACE_ROOT="{{ DOSPATH }}/"
export CCACHE_COMPRESS={{ CCACHE_COMPRESS }}
export CCACHE_COMPRESSLEVEL=1
export DOS_MALWARE_SCAN_ENABLED=false #Set true to perform a fast scan on patchWorkspace() and a through scan on buildAll()
export DOS_REFRESH_PATCHES=true #Set true to refresh branch-specific patches on apply

# Release Processing
export DOS_MALWARE_SCAN_BEFORE_SIGN=false #Scan device files for malware before signing
export DOS_GENERATE_DELTAS=false #Creates deltas from existing target_files in $DOS_BUILDS
export DOS_AUTO_ARCHIVE_BUILDS=true #Copies files to $DOS_BUILDS after signing
export DOS_REMOVE_AFTER=false #Removes device OUT directory after complete to reclaim space. Requires AUTO_ARCHIVE_BUILDS=true
export DOS_REMOVE_AFTER_FULL=false #Removes the entire OUT directory

export DOS_SIGNING_GPG="{{ BUILDHOME }}/.gnupg"
export DOS_GPG_SIGNING=true
export DOS_GPG_SIGNING_KEY="{{ release_gpg_signing_key | d('') }}"

# Theme
export DOS_THEME_50="FFCA28" #Amber 400
export DOS_THEME_100="FFC107" #Amber 500
export DOS_THEME_200="FFA726" #Orange 400
export DOS_THEME_300="FF9800" #Orange 500
export DOS_THEME_500="FF5722" #Deep Orange 500
export DOS_THEME_700="E64A19" #Deep Orange 700

# Servers
export DOS_DEFAULT_DNS_PRESET="Quad9" #Sets default DNS. Options: See changeDefaultDNS() in Scripts/Common/Functions.sh
export DOS_GPS_NTP_SERVER="2.android.pool.ntp.org" #Options: Any NTP pool
export DOS_GPS_SUPL_HOST="supl.google.com" #Options: Any *valid* SUPL server

# Deblobber
export AXP_DISABLE_DEBLOBBER="{{ axp_disable_deblobber | default('false') }}"
export DOS_DEBLOBBER_REMOVE_ACCESSORIES="{{ axp_deblobber_remove_accessories | default('true') }}" #Set false to allow use of external accessories that depend on blobs
export DOS_DEBLOBBER_REMOVE_ATFWD="{{ axp_deblobber_remove_atfwd | default('true') }}" #Set true to remove basic ATFWD blobs
export DOS_DEBLOBBER_REMOVE_AUDIOFX="{{ axp_deblobber_remove_audiofx | default('true') }}" #Set true to remove AudioFX
export DOS_DEBLOBBER_REMOVE_APTX="{{ axp_deblobber_remove_aptx | default('false') }}" #Set true to remove aptX Bluetooth codec
export DOS_DEBLOBBER_REMOVE_CNE="{{ axp_deblobber_remove_cne | default('false') }}" # allow VoLTE/WiFi calling
export DOS_DEBLOBBER_REMOVE_DPM="{{ axp_deblobber_remove_dpm | default('false') }}" # avoid breaking multi-sim and carrier aggregation (LTE+)
export DOS_DEBLOBBER_REMOVE_DPP="{{ axp_deblobber_remove_dpp | default('false') }}" #Set true to remove all Display Post Processing blobs #XXX: Breaks boot on select devices
export DOS_DEBLOBBER_REMOVE_FP="{{ axp_deblobber_remove_fp | default('false') }}" #Set true to remove all fingerprint reader blobs
export DOS_DEBLOBBER_REMOVE_EUICC="{{ axp_deblobber_remove_euicc | default('true') }}" #Set true to remove all eUICC blobs
export DOS_DEBLOBBER_REMOVE_IMS="{{ axp_deblobber_remove_ims | default('false') }}" #Set true to remove all IMS blobs XXX: Carriers are phasing out 3G, making IMS mandatory for calls
export DOS_DEBLOBBER_REMOVE_IPA="{{ axp_deblobber_remove_ipa | default('false') }}" #Set true to remove all IPA blobs
export DOS_DEBLOBBER_REMOVE_IR="{{ axp_deblobber_remove_ir | default('false') }}" #Set true to remove all IR blobs
export DOS_DEBLOBBER_REMOVE_RCS="{{ axp_deblobber_remove_rcs | default('true') }}" #Set true to remove all RCS blobs
export DOS_DEBLOBBER_REMOVE_WIDEVINE_DRM="{{ axp_deblobber_remove_widevine_drm | default('false') }}" # do not remove widevine drm

# Features
export DOS_HOSTS_BLOCKING="{{ axp_hosts_blocking | default('true') }}" #Set false to prevent inclusion of a HOSTS file
export DOS_SENSORS_PERM="{{ axp_sensors_perm | default('false') }}" #Set true to provide a per-app sensors permission for 14.1/15.1 #XXX: can break things like camera
export DOS_USE_KSM="{{ axp_use_ksm | default('false') }}" #Set true to use KSM for increased memory efficiency at the cost of easier side-channel attacks and increased CPU usage #XXX: testing only

# CVE Kernel patcher
export DOS_PATCHER_LOOSE_VERSIONS=true          # enable loose patching
export DOS_PATCHER_LOOSE_VERSIONS_EXTREME=true  # try as hard as possible to find matching patches
export DOS_PATCHER_GIT_AM=true                  # use git am instead of apply
export DOS_PATCHES_LINUX_CVES="{{ SRCPATH }}/external/cve_kernel_patches"
export DOS_BINARY_PATCHER="{{ divest_cve_checker_jar }}"

# globals imported from init.sh which couldn't be overwritten
export BUILD_WORKING_DIR="LineageOS-{{ los_version }}"
export DOS_TMP_DIR="/tmp/dos_tmp"
export DOS_HOSTS_FILE="$DOS_TMP_DIR/hosts"
export DOS_TMP_GNUPG="$DOS_TMP_DIR/gnupg-$RANDOM"
export GNUPGHOME="{{ BUILDHOME }}/.gnupg"
export DOS_VERIFICATION_KEYRING="$DOS_WORKSPACE_ROOT/Misc/pubring.kbx"
export DOS_PREBUILT_APPS="$DOS_WORKSPACE_ROOT/PrebuiltApps/"
export DOS_PATCHES_COMMON="$DOS_WORKSPACE_ROOT/Patches/Common/"
export DOS_PATCHES="$DOS_WORKSPACE_ROOT/Patches/$BUILD_WORKING_DIR/"
export DOS_WALLPAPERS="$DOS_WORKSPACE_ROOT/Patches/Wallpapers/"
export DOS_SCRIPTS_COMMON="$DOS_WORKSPACE_ROOT/Scripts/Common/"
export DOS_SCRIPTS="$DOS_WORKSPACE_ROOT/Scripts/$BUILD_WORKING_DIR/"
export DOS_SCRIPTS_CVES="$DOS_SCRIPTS/CVE_Patchers/"
export KBUILD_BUILD_USER="emy"
export KBUILD_BUILD_HOST="aosbm"
export BUILD_USERNAME="emy"
export BUILD_HOSTNAME="aosbm"
export ANDROID_JACK_VM_ARGS="-Xmx8192m -Xms512m -Dfile.encoding=UTF-8 -XX:+TieredCompilation"
export JACK_SERVER_VM_ARGUMENTS="${ANDROID_JACK_VM_ARGS}"
export EXPERIMENTAL_USE_JAVA8=true
export GRADLE_OPTS="-Xmx2048m"
export TZ=:/etc/localtime

########################################
# AXP.OS global overrides
########################################

# DOS branding
export DOS_BRANDING_NAME="{{ os_name }}"                     # rebranding in several places (e.g. recovery, about phone etc)
export DOS_BRANDING_NAME_WIZARD="{{ os_name }}"              # name shown in the first boot setup wizard
export DOS_BRANDING_ZIP_PREFIX="{{ os_name }}"
export DOS_BRANDING_BOOTANIMATION_FONT="Fira-Sans-Heavy"     # Options: $ convert -list font
export DOS_BRANDING_BOOTANIMATION_STYLE="gradient"           # Options: gradient, plasma
export DOS_BRANDING_BOOTANIMATION_COLOR="#000000-#808080"    # plasma
export DOS_BRANDING_LINK_ABOUT="https://axpos.org"
export DOS_BRANDING_LINK_PRIVACY="https://axpos.org/privacy-policy"

# AOS branding
# WARN: changing this will break the Updater on existing installs
export AOS_BRANDING_BUILDTYPE="{{ axp_type | upper() }}"   # the LINEAGE_BUILDTYPE / channel name (AXP.OS-20.0-20241218-<AOS_BRANDING_BUILDTYPE>-bluejay.zip)

# build
export DOS_MAX_THREADS_REPO={{ max_processes_sync }}   # Max amount of threads used for sync, e.g. used by repo (shouldn't exceed your CPU cores count, due to rate limit restrictions this cannot be set higher then 10)
export DOS_MAX_THREADS_BUILD={{ max_processes }}   # Max amount of threads used for build, e.g. used by make (shouldn't exceed your CPU cores count)
export DOS_SIGNING_KEYS="{{ keys_base_path }}/{{ os_name }}"

# AVB
export AXP_ENABLE_AVB={{ axp_enable_avb }}
export AXP_AVB_ALGORITHM={{ axp_avb_algorithm }}
export AXP_HASHTREE_ALGORITHM={{ axp_avb_hashtree_algorithm }}
export AXP_AVB_VERSION={{ axp_avb_version }}
export AXP_AVB_VBMETA_FALLBACK={{ axp_avb_vbmeta_fallback }}

# encryption
export AXP_AUTO_ENCRYPT={{ axp_auto_encrypt}} # if set to True (which is the default) forceencrypt will be enabled in fstab

# release directory
export DOS_BUILDS="{{ dos_release_dir }}"

# misc
export DOS_HOSTS_BLOCKING_LIST="https://raw.githubusercontent.com/hagezi/dns-blocklists/main/hosts/pro.txt" # https://github.com/hagezi/dns-blocklists
export EXTENDROM_PATCHER_RESET=false  # never reset before applying custom patches (as this will break DOS changes)
export EXTENDROM_SIGSPOOF_RESET=false  # never reset framework base before applying er signature spoof support
export AXP_DEFCONFIG_GLOBALS="{{ axp_defconfig_globals | default('CONFIG_NET CONFIG_INET CONFIG_NET_UDP_TUNNEL CONFIG_CRYPTO_ALGAPI CONFIG_WIREGUARD') }}" # add to kernel defconfig
export AXP_BUILD_OPENEUICC=false  # do not build OpenEUICC by default
export DOS_MICROG_SUPPORT="{{ axp_microg_support | default('false') }}" #Opt-out unprivileged microG support on 17.1+18.1+19.1+20.0 - part of extendrom's advanced sigspoof patch!
export AXP_ANDROIDVERSION_INT="{{ android_version_int }}"

# Kernel
export AXP_PIXEL_LOCALVER_PATH={{ pixel_kernel_localversion_path | d("") }}
export AXP_KERNEL_KLEAF="{{ axp_kernel_kleaf | trim }}"
#export AXP_DISABLE_CVE_PATCHING={{ pixel_kernel_gki | lower() }}
export AXP_DISABLE_CVE_PATCHING=false
#export AXP_DISABLE_DEFCONF_HARDENING={{ pixel_kernel_gki | lower() }}
export AXP_DISABLE_DEFCONF_HARDENING=false
export AXP_PIXEL_DEFCONF="{% if pixel_kernel_gki | bool %}{{ pixel_kernel_defconfig | trim }}{% else %}undefined{% endif %}"


# git info used for committing changes within the sources
export DOS_PATCHER_URI_KERNEL=https://codeberg.org/AXP-OS/kernel_patches/src/branch/main
export DOS_PATCHER_URI_ANDROID=https://github.com/AXP-OS/build/tree/axp/Patches/LineageOS-{{ los_version }}
export DOS_GIT_AUTHOR=DivestOS
export DOS_GIT_MAIL=tavi@divested.dev
export AXP_GIT_AUTHOR=AXP.OS
export AXP_GIT_MAIL=aosbot@axpos.org
export CVE_GIT_AUTHOR="$AXP_GIT_AUTHOR <$AXP_GIT_MAIL>"  # fallback when real author cannot be extracted from a patch

# OTA
export DOS_BRANDING_LINK_NEWS="https://axpos.org/Changelog"
export DOS_OTA_SERVER_PRIMARY_NAME="Stable"
export DOS_OTA_SERVER_PRIMARY="https://sfxota.binbash.rocks:8010"
export DOS_OTA_SERVER_EXTENDED=true # Enable to provide multiple choices as set below

# OTA server choices
export DOS_OTA_SERVER_SECONDARY_NAME="UNSTABLE"
export DOS_OTA_SERVER_SECONDARY="https://sfxota-beta.binbash.rocks:8010"
export DOS_OTA_SERVER_ONION_PRIMARY_NAME="Tor:Stable"
export DOS_OTA_SERVER_ONION_PRIMARY="http://qwmrjjs7mnbys35c6vgs6f47kemobjwynilp6cokjz5gxctfgdjfo7id.onion"
export DOS_OTA_SERVER_ONION_SECONDARY_NAME="Tor:UNSTABLE"
export DOS_OTA_SERVER_ONION_SECONDARY="http://qwmrjjs7mnbys35c6vgs6f47kemobjwynilp6cokjz5gxctfgdjfo7id.onion:8080"

# OTA allow cleartext traffic via network_security_config.xml
export DOS_OTA_SERVER_ONION_DOMAIN_PRIMARY="qwmrjjs7mnbys35c6vgs6f47kemobjwynilp6cokjz5gxctfgdjfo7id.onion"
export DOS_OTA_SERVER_ONION_DOMAIN_SECONDARY="sfxota.binbash.rocks"

# git push targets (reproducible builds)
export AXP_GIT_PUSH_DEVICE_EXCLUDE_GENERIC="device_generic_car|device_generic_goldfish|device_generic_goldfish-opengl|device_generic_trusty|device_generic_uml|device_generic_x86|device_generic_x86_64" # skipped by git push, not used for building AXP.OS
export AXP_GIT_PUSH_DEVICE_EXCLUDE="${AXP_GIT_PUSH_DEVICE_EXCLUDE_GENERIC}|device_google_|device_sony_|device_oneplus_|vendor_lge_|device_samsung_|device_fairphone_" # skipped by git push, use AXP_GIT_PUSH_DEVICE_INCLUDE to overwrite per device
export AXP_GIT_PUSH_VENDOR_EXCLUDE="vendor_google|vendor_sony|vendor_oneplus|vendor_lge|vendor_samsung|vendor_fairphone|vendor_xiaomi" # skipped by git push, use AXP_GIT_PUSH_VENDOR_INCLUDE to overwrite per device
export AXP_GIT_PUSH_DEVICE_INCLUDE="{{ axp_git_push_device_include | d ('') }}"
export AXP_GIT_PUSH_VENDOR_INCLUDE="{{ axp_git_push_vendor_include | d ('') }}"

# special/rare device specific overwrites
{% if disable_artifact_path_requirements is defined %}
export DISABLE_ARTIFACT_PATH_REQUIREMENTS="{{ disable_artifact_path_requirements }}"
{% endif %}

{% if axp_defconfig_device is defined %}
export AXP_DEFCONFIG_DEVICE="{{ axp_defconfig_device }}"
{% endif %}

export DOS_GRAPHENE_MALLOC="{{ axp_graphene_malloc | default('true') }}"
