#!/bin/bash
#####################################################################################################################
# global vars for AXP.OS - Slim flavor
#
# can be overwritten / extended by device specific definitions.
# Device example:
# https://github.com/sfX-android/automation_scripts/blob/ansible/roles/axp/common/templates/divested.vars.hotdog.j2
#
# additional / current list of possible options:
# https://github.com/Divested-Mobile/DivestOS-Build/blob/master/Scripts/init.sh
#####################################################################################################################

########################################
# AXP.OS - Slim overrides
########################################

# DOS branding
export DOS_BRANDING_NAME="{{ os_name }}-{{ axp_type }}"      # rebranding in several places (e.g. recovery, about phone etc)

# AOS branding
export AOS_BRANDING_BUILDTYPE="{{ axp_type | upper() }}"      # the LINEAGE_BUILDTYPE / channel name (AXP.OS-20.0-20241218-<AOS_BRANDING_BUILDTYPE>-bluejay.zip)

# build
export DOS_SIGNING_KEYS="{{ keys_base_path }}/{{ os_name }}-{{ axp_type }}"

# release directory
export DOS_BUILDS="{{ dos_release_dir }}"

# misc
export DOS_DEBLOBBER_REMOVE_WIDEVINE_DRM=true    # remove widevine drm
export DOS_DEBLOBBER_REMOVE_CNE=true             # remove all CNE blobs #XXX: Breaks Wi-Fi calling

#####################################################################################################################
echo "included $0 config"
# the above must be the last line
#####################################################################################################################
