#!/bin/bash
####################################################################################################################

# be strict on failures
set -e

# stupid DOS workarounds (they use fedora which has another rename binary and /bin/sh -> /bin/bash)
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$HOME/.local/bin:$PATH"
alias rename="/home/jenkins/util-linux/usr/bin/rename"
alias sh=/bin/bash

# fix build errors
export LC_ALL=C

# unset any extendrom var
unset EXTENDROM_DEBUG_PATH EXTENDROM_BOOT_DEBUG EXTENDROM_PREROOT_BOOT ENABLE_EXTENDROM EXTENDROM_PACKAGES PREROOT_BOOT
unset EXTENDROM_DEBUG_PATH_SIZE_FULL EXTENDROM_DEBUG_PATH_SIZE_KERNEL EXTENDROM_DEBUG_PATH_SIZE_SELINUX 
unset EXTENDROM_DEBUG_PATH_SIZE_CRASH EXTENDROM_SIGNATURE_SPOOFING EXTENDROM_SIGSPOOF_FORCE_PDIR PATCHER_RESET

########################### SYNC / PREPARE #########################

# required for including the right DOS vars
export BDEVICE={{ target_model }}

# go to the real build dir
cd {{ SRCPATH }}

########################### BUILD #########################

# setup build env
source ../../Scripts/init.sh
source build/envsetup.sh
breakfast lineage_{{ target_model }}-user

# CCACHE
export USE_CCACHE={{ USE_CCACHE }}
if [ "{{ USE_CCACHE }}" -eq 1 ];then
    export CCACHE_COMPRESS={{ CCACHE_COMPRESS }}
    mkdir -p {{ CCACHE_DIR }}
    export CCACHE_DIR="{{ CCACHE_DIR }}"
    {{ CCACHE_EXEC }} --max-size=10G
fi

# extendrom flags
export ENABLE_EXTENDROM={{ use_extendrom }}
export EXTENDROM_PACKAGES="{{ extendrom_package_list }}"
export EXTENDROM_PREROOT_BOOT={{ EXTENDROM_PREROOT_BOOT }}
export MAGISK_TARGET_ARCH=arm64
export EXTENDROM_BOOT_DEBUG={{ extendrom_boot_debug }}
export EXTENDROM_DEBUG_PATH={{ extendrom_debug_path |d (extendrom_debug_path_default) }}
export EXTENDROM_DEBUG_PATH_SIZE_FULL={{ extendrom_debug_path_size_full | d(extendrom_debug_path_size_full_default) }}
export EXTENDROM_DEBUG_PATH_SIZE_KERNEL={{ extendrom_debug_path_size_kernel | d(extendrom_debug_path_size_kernel_default) }}
export EXTENDROM_DEBUG_PATH_SIZE_SELINUX={{ extendrom_debug_path_size_selinux | d(extendrom_debug_path_size_selinux_default) }}
export EXTENDROM_DEBUG_PATH_SIZE_CRASH={{ extendrom_debug_path_size_crash | d(extendrom_debug_path_size_crash_default) }}
export EXTENDROM_SIGNATURE_SPOOFING={{ extendrom_signature_spoofing }}
export EXTENDROM_SIGSPOOF_FORCE_PDIR={{ extendrom_sigspoof_force_dir }}
export PATCHER_RESET={{ extendrom_sigspoof_patcher_reset }}
# execute extendrom
vendor/extendrom/er.sh

# build
mka generate_verity_key
buildDevice {{ target_model }}
