#!/bin/bash
################################################################################################################
# device specific vars for AXP.OS 
#
# overwrites/extends the global vars in: 
# https://github.com/sfX-android/automation_scripts/blob/ansible/roles/axp/common/templates/divested.vars.j2
#
# additional / current list of possible options:
# https://github.com/Divested-Mobile/DivestOS-Build/blob/master/Scripts/init.sh
################################################################################################################

# release directory
export DOS_BUILDS="{{ ZIPDIR }}"

# git push
export AXP_GIT_PUSH_DEVICE_INCLUDE="device_samsung_j5y17lte|device_samsung_universal7870-common"
export AXP_GIT_PUSH_VENDOR_INCLUDE="vendor_samsung_universal7870-common|vendor_samsung_j5y17lte"

# CONFIG_ARM64_SW_TTBR0_PAN breaks boot!
export AXP_DEFCONFIG_DEVICE="CONFIG_ARM64_SW_TTBR0_PAN=n"

# deblobbing audiofx breaks video recording due to the removal of libLifevibes_lvverx.so + libLifevibes_lvvetx.so
export DOS_DEBLOBBER_REMOVE_AUDIOFX=false

{% if axp_build_recovery_only is defined and axp_build_recovery_only %}
# disable hardened malloc. likely related to the increased key size of the AXP signature
# > I:comment is 3915 bytes; signature is 3897 bytes from end
# > libc: malloc(65536) failed: returning null pointer
# > terminating with uncaught exception of type std::bad_alloc: std::bad_alloc
# > libc++abi: terminating with uncaught exception of type std::bad_alloc: std::bad_alloc
export DOS_GRAPHENE_MALLOC=false
{% endif %}
