#!/bin/bash
################################################################################################################
# device specific vars for AXP.OS 
#
# overwrites/extends the global vars in: 
# https://github.com/sfX-android/automation_scripts/blob/ansible/roles/axp/common/templates/divested.vars.j2
#
# additional / current list of possible options:
# https://github.com/Divested-Mobile/DivestOS-Build/blob/master/Scripts/init.sh
################################################################################################################

# release directory
export DOS_BUILDS="{{ ZIPDIR }}"

# git push
export AXP_GIT_PUSH_DEVICE_INCLUDE="device_sony_xz2c|device_sony_tama-common"
export AXP_GIT_PUSH_VENDOR_INCLUDE="vendor_sony_tama-common|vendor_sony_xz2c"
