#!/bin/bash
################################################################################################################
# device specific vars for AXP.OS 
#
# overwrites/extends the global vars in: 
# https://github.com/sfX-android/automation_scripts/blob/ansible/roles/axp/common/templates/divested.vars.j2
#
# additional / current list of possible options:
# https://github.com/Divested-Mobile/DivestOS-Build/blob/master/Scripts/init.sh
################################################################################################################

# release directory
export DOS_BUILDS="{{ ZIPDIR }}"

# git push
export AXP_GIT_PUSH_DEVICE_INCLUDE="device_google_oriole|device_google_raven|device_google_raviole|android_device_google_gs101"
export AXP_GIT_PUSH_VENDOR_INCLUDE="vendor_google_oriole"

# Add the toggle for OpenEUICC but we use AXP's prebuilt apk
export DOS_DEBLOBBER_REMOVE_EUICC=true
export DOS_DEBLOBBER_REMOVE_EUICC_FULL=false
