#!/bin/bash
################################################################################################################
# device specific vars for AXP.OS 
#
# overwrites/extends the global vars in: 
# https://github.com/sfX-android/automation_scripts/blob/ansible/roles/axp/common/templates/divested.vars.j2
#
# additional / current list of possible options:
# https://github.com/Divested-Mobile/DivestOS-Build/blob/master/Scripts/init.sh
################################################################################################################

# release directory
export DOS_BUILDS="{{ ZIPDIR }}"

# this causes device.mk issues due to Iwlan* removal
#export DOS_DEBLOBBER_REMOVE_CNE=false

# add hmalloc toogle (abandoned atm)
#export DOS_GRAPHENE_HMALLOC_TOGGLE=true

# build OpenEUICC with AOSP
#export AXP_BUILD_OPENEUICC=true

# Add the toggle for OpenEUICC but we use AXP's prebuilt apk
export DOS_DEBLOBBER_REMOVE_EUICC=true
export DOS_DEBLOBBER_REMOVE_EUICC_FULL=false
