#!/bin/bash
################################################################################################################
# device specific vars for AXP.OS 
#
# overwrites/extends the global vars in: 
# https://github.com/sfX-android/automation_scripts/blob/ansible/roles/axp/common/templates/divested.vars.j2
#
# additional / current list of possible options:
# https://github.com/Divested-Mobile/DivestOS-Build/blob/master/Scripts/init.sh
################################################################################################################

# release directory
export DOS_BUILDS="{{ ZIPDIR }}"

# git push
export AXP_GIT_PUSH_DEVICE_INCLUDE="device_lge_g4|device_lge_g4-common"
export AXP_GIT_PUSH_VENDOR_INCLUDE="vendor_lge"

# CONFIG_STRICT_MEMORY_RWX=y breaks boot!
export AXP_DEFCONFIG_DEVICE="CONFIG_STRICT_MEMORY_RWX=n"

# removing IMS will break boot
# > "/vendor/bin/imscmservice": library "lib-imsrcscmservice.so" not found: needed by main executable
export DOS_DEBLOBBER_REMOVE_IMS=False
export DOS_DEBLOBBER_REMOVE_RCS=False

# libcir is needed by consumerir
export DOS_DEBLOBBER_REMOVE_IR=False
