---

- include_tasks: ../../common/tasks/setvars.yml
- include_tasks: ../../common/tasks/clean.yml
- include_tasks: ../../common/tasks/sync.yml
  when:
    - (override_reset_git == "undef" and reset_git == "true") or (override_reset_git == "true") or (override_sync == "true")

- include_tasks: patch_a9.yml
  when:
    - (override_reset_git == "undef" and reset_git == "true") or (override_reset_git == "true")
    - android_shortversion == "pie" or android_shortversion == "v1-pie" or android_shortversion == "a9"

#- name: "register custom patch date for pie"
#  shell: "echo {{ SECPATCH_DATE_PIE }}-01"
#  register: sec_level_date
#  when:
#    - android_shortversion == "pie" or android_shortversion == "v1-pie" or android_shortversion == "a9"

- include_tasks: patch_a12.yml
  when:
    - (override_reset_git == "undef" and reset_git == "true") or (override_reset_git == "true")
    - android_shortversion == "s" or android_shortversion == "v1-s" or android_shortversion == "a12"

- include_tasks: copy.yml
