<h1>LoveLaceAV - Signature Database Stats</h1>
<hr>
Signing Key: <a href="https://lav.axpos.org/db/gpg.key">14C17E7F99EABF3F</a><br/>
Signed by: lovelaceAV@axpos.org<br/>
Current Databases are created with Ansible, executed on a high encrypted and isolated environment. No keys or secrets are stored at Github, Codeberg or any other public source.</a>
<hr>
<p>Databases and stats generated using the LoveLaceAV Database Converter initiated by <a href="https://github.com/sfX-android/automation_scripts/blob/ansible/plays/LoveLace_updater.yml">Ansible</a><br/>
License: AGPL-3.0-or-later<br/>
Source Code:
<ul>
        <li>LoveLaceAV <a href="https://github.com/sfX-android/automation_scripts/blob/ansible/plays/LoveLace_updater.yml">Signature Database Generator (Ansible playbook)</a></li>
        <li>LoveLaceAV <a href="https://codeberg.org/AXP-OS/packages_apps_LoveLaceAV">Android App</a> (fork of <a href="https://github.com/Divested-Mobile/Hypatia">Hypatia</a>)</li>
        <li>LoveLaceAV <a href="https://codeberg.org/AXP-OS/tools_lovelaceav_convertdb/releases">Database Converter</a> (fork of <a href="https://github.com/Divested-Mobile/Hypatia">HypatiaDatabaseConverter</a>)</li>
</ul>
</p>
<hr>
<h2>List of included sources</h2>
Last updated: 2025-06-04<br/>
<i>(scroll down for the last update date of the <u>database</u> signatures!)</i>
<br/><br/>
<table>
        <tr>
                <th>Filename</th>
                <th>Author</th>
                <th>License</th>
                <th>Source</th>
        </tr>
        <tr>
                <td>amnesty.hsb</td>
                <td>Amnesty International</td>
                <td>CC BY 2.0</td>
                <td>https://github.com/amnestytech/investigations</td>
        </tr>
        <tr>
                <td>avast-covid19.sha256</td>
                <td>Avast</td>
                <td>Unknown</td>
                <td>https://github.com/avast/covid-19-ioc</td>
        </tr>
        <tr>
                <td>blog-google.sha256</td>
                <td>Google</td>
                <td>Unknown</td>
                <td>https://blog.google</td>
        </tr>
        <tr>
                <td>blog-kaspersky.hashes</td>
                <td>Kaspersky</td>
                <td>Unknown</td>
                <td>https://securelist.com</td>
        </tr>
        <tr>
                <td>blog-mcafee.hashes</td>
                <td>McAfee</td>
                <td>Unknown</td>
                <td>https://www.mcafee.com/blogs</td>
        </tr>
        <tr>
                <td>cybercure.md5</td>
                <td>Cybercure</td>
                <td>Unknown</td>
                <td>https://api.cybercure.ai/feed</td>
        </tr>
        <tr>
                <td>cellebrite.hsb</td>
                <td>@levlesec</td>
                <td>CC0</td>
                <td>https://github.com/mbkore/lockup</td>
        </tr>
        <tr>
                <td>daily.h*b & main.h*b</td>
                <td>ClamAV</td>
                <td>GPL-2.0</td>
                <td>https://www.clamav.net</td>
        </tr>
        <tr>
                <td>divestos-revoked-ci-key.sha256</td>
                <td>Divested Computing Group</td>
                <td>CC0</td>
                <td>N/A</td>
        </tr>
        <tr>
                <td>eset.*</td>
                <td>ESET</td>
                <td>BSD 2-Clause</td>
                <td>https://github.com/eset/malware-ioc</td>        </tr>
        <tr>
                <td>hypatia-gpl-violators.hsb</td>
                <td>Divested Computing Group</td>
                <td>CC0</td>
                <td>N/A</td>
        </tr>
        <tr>
                <td>hypatia-selftest-canary.*</td>
                <td>Divested Computing Group</td>
                <td>CC0</td>
                <td>N/A</td>
        </tr>
        <tr>
                <td>malicious-hash.*</td>
                <td>Romain Marcoux</td>
                <td>MIT</td>
                <td>https://github.com/romainmarcoux/malicious-hash</td>
        </tr>
        <tr>
                <td>malshare-*.*</td>
                <td>MalShare</td>
                <td>Custom</td>
                <td>https://malshare.com (https://malshare.com/tos.php)</td>
        </tr>
        <tr>
                <td>malware_bazaar.sha256</td>
                <td>abuse.ch</td>
                <td>CC0</td>
                <td>https://bazaar.abuse.ch</td>
        </tr>
        <tr>
                <td>malware-hunter.sha256</td>
                <td>Malware Hunter</td>
                <td>CC BY 4.0</td>
                <td>https://github.com/Malware-Hunter/MH-100K-dataset</td>
        </tr>
        <tr>
                <td>malwaresamples.sha256</td>
                <td>Virus Samples</td>
                <td>Unknown</td>
                <td>https://github.com/MalwareSamples</td>
        </tr>
        <tr>
                <td>misc-maldroid.sha256</td>
                <td>@maldroid</td>
                <td>Unknown</td>
                <td>https://maldroid.github.io/android-malware-samples</td>
        </tr>
        <tr>
                <td>sanesecurity-*.h*b</td>
                <td>Sanesecurity</td>
                <td>"free of charge in commercial products"</td>
                <td>https://sanesecurity.com/usage/signatures</td>
        </tr>
        <tr>
                <td>signature-base*.loki</td>
                <td>@Neo23x0</td>
                <td>Detection Rule License (DRL) 1.1</td>
                <td>https://github.com/Neo23x0/signature-base</td>
        </tr>
        <tr>
                <td>stalkerware.hsb</td>
                <td>Echap</td>
                <td>CC BY 4.0</td>
                <td>https://github.com/AssoEchap/stalkerware-indicators</td>
        </tr>
        <tr>
                <td>targetedthreats.h*b</td>
                <td>@botherder</td>
                <td>CC BY-SA 4.0</td>
                <td>https://github.com/botherder/targetedthreats</td>
        </tr>
        <tr>
                <td>threatfox.sha256</td>
                <td>abuse.ch</td>
                <td>CC0</td>
                <td>https://threatfox.abuse.ch</td>
        </tr>
        <tr>
                <td>threatview.*</td>
                <td>Threatview.io</td>
                <td>Unknown</td>
                <td>https://threatview.io</td>
        </tr>
        <tr>
                <td>umair9747.md5</td>
                <td>@umair9747</td>
                <td>Unknown</td>
                <td>https://github.com/umair9747/datasets</td>
        </tr>
        <tr>
                <td>VirusShare_0*.md5</td>
                <td>VirusShare</td>
                <td>"Sharing is Caring"</td>
                <td>https://virusshare.com/hashes</td>
        </tr>
        <tr>
                <td>zimperium-ioc-*.*</td>
                <td>Zimperium</td>
                <td>Unknown</td>
                <td>https://github.com/Zimperium/IOC</td>
        </tr>
</table>
<br/>
Last updated: %%DATE%%
<br/>
<i>(scroll down for the last update date of the <u>database</u> signatures!)</i>
<table>
        <tr>
                <th>Domain blocklist</th>
                <th>Malicious domains</th>
                <th>Author</th>
                <th>License</th>
                <th>Source</th>
        </tr>
        <tr>
                <td>Fakes</td>
                <td><center>%%HAGEZI_FAKES%%</center></td>
                <td>Various</td>
                <td>GPL v3.0</td>
                <td><a href="https://github.com/hagezi/dns-blocklists?tab=readme-ov-file#fake target=_blank">https://github.com/hagezi/dns-blocklists</a></td>
        </tr>
        <tr>
                <td>Threat Intelligence Feeds</td>
                <td><center>%%HAGEZI_THREATS%%</center></td>
                <td>Various</td>
                <td>GPL v3.0</td>
                <td><a href="https://github.com/hagezi/dns-blocklists?tab=readme-ov-file#tif target=_blank">https://github.com/hagezi/dns-blocklists</a></td>
        </tr>
        <tr>
                <td>Multi Pro - Extended protection</td>
                <td><center>%%HAGEZI_MULTIPRO%%</center></td>
                <td>Various</td>
                <td>GPL v3.0</td>
                <td><a href="https://github.com/hagezi/dns-blocklists?tab=readme-ov-file#ledger-multi-pro---extended-protection-recommended-" target=_blank>https://github.com/hagezi/dns-blocklists</a></td>
        </tr>

</table>

<hr>
<h2>Generation Output:</h2>
<p>(last updated: %%DATE%%)</p>
