<h1>AXP.OS Guard - Signature Database Stats</h1>
<p>Databases and stats generated using HypatiaDatabaseConverter<br/>
License: AGPL-3.0-or-later<br/>
Source code: https://github.com/AXP-OS/tools_hypatia_convertdb/tree/main</p>
<hr>
<h2>Sources</h2>
<p>Last updated: 2025-01-03</p>
<table>
        <tr>
                <th>Filename</th>
                <th>Author</th>
                <th>License</th>
                <th>Source</th>
        </tr>
        <tr>
                <td>amnesty.hsb</td>
                <td>Amnesty International</td>
                <td>CC BY 2.0</td>
                <td>https://github.com/amnestytech/investigations</td>
        </tr>
        <tr>
                <td>avast-covid19.sha256</td>
                <td>Avast</td>
                <td>Unknown</td>
                <td>https://github.com/avast/covid-19-ioc</td>
        </tr>
        <tr>
                <td>blocklists-*.txt</td>
                <td>Various</td>
                <td>Unknown</td>
                <td>https://github.com/scafroglia93/blocklists</td>
        </tr>
        <tr>
                <td>blog-google.sha256</td>
                <td>Google</td>
                <td>Unknown</td>
                <td>https://blog.google</td>
        </tr>
        <tr>
                <td>blog-kaspersky.hashes</td>
                <td>Kaspersky</td>
                <td>Unknown</td>
                <td>https://securelist.com</td>
        </tr>
        <tr>
                <td>blog-mcafee.hashes</td>
                <td>McAfee</td>
                <td>Unknown</td>
                <td>https://www.mcafee.com/blogs</td>
        </tr>
        <tr>
                <td>cybercure.md5</td>
                <td>Cybercure</td>
                <td>Unknown</td>
                <td>https://api.cybercure.ai/feed</td>
        </tr>
        <tr>
                <td>cellebrite.hsb</td>
                <td>@levlesec</td>
                <td>CC0</td>
                <td>https://github.com/mbkore/lockup</td>
        </tr>
        <tr>
                <td>daily.h*b & main.h*b</td>
                <td>ClamAV</td>
                <td>GPL-2.0</td>
                <td>https://www.clamav.net</td>
        </tr>
        <tr>
                <td>divestos-revoked-ci-key.sha256</td>
                <td>Divested Computing Group</td>
                <td>CC0</td>
                <td>N/A</td>
        </tr>
        <tr>
                <td>eset.*</td>
                <td>ESET</td>
                <td>BSD 2-Clause</td>
                <td>https://github.com/eset/malware-ioc</td>        </tr>
        <tr>
                <td>hypatia-gpl-violators.hsb</td>
                <td>Divested Computing Group</td>
                <td>CC0</td>
                <td>N/A</td>
        </tr>
        <tr>
                <td>hypatia-selftest-canary.*</td>
                <td>Divested Computing Group</td>
                <td>CC0</td>
                <td>N/A</td>
        </tr>
        <tr>
                <td>malicious-hash.*</td>
                <td>Romain Marcoux</td>
                <td>MIT</td>
                <td>https://github.com/romainmarcoux/malicious-hash</td>
        </tr>
        <tr>
                <td>malshare-*.*</td>
                <td>MalShare</td>
                <td>Unknown</td>
                <td>https://malshare.com</td>
        </tr>
        <tr>
                <td>malware_bazaar.sha256</td>
                <td>abuse.ch</td>
                <td>CC0</td>
                <td>https://bazaar.abuse.ch</td>
        </tr>
        <tr>
                <td>malwaresamples.sha256</td>
                <td>Virus Samples</td>
                <td>Unknown</td>
                <td>https://github.com/MalwareSamples</td>
        </tr>
        <tr>
                <td>misc-maldroid.sha256</td>
                <td>@maldroid</td>
                <td>Unknown</td>
                <td>https://maldroid.github.io/android-malware-samples</td>
        </tr>
        <tr>
                <td>sanesecurity-*.h*b</td>
                <td>Sanesecurity</td>
                <td>"free of charge in commercial products"</td>
                <td>https://sanesecurity.com/usage/signatures</td>
        </tr>
        <tr>
                <td>signature-base*.loki</td>
                <td>@Neo23x0</td>
                <td>Detection Rule License (DRL) 1.1</td>
                <td>https://github.com/Neo23x0/signature-base</td>
        </tr>
        <tr>
                <td>stalkerware.hsb</td>
                <td>Echap</td>
                <td>CC BY 4.0</td>
                <td>https://github.com/AssoEchap/stalkerware-indicators</td>
        </tr>
        <tr>
                <td>targetedthreats.h*b</td>
                <td>@botherder</td>
                <td>CC BY-SA 4.0</td>
                <td>https://github.com/botherder/targetedthreats</td>
        </tr>
        <tr>
                <td>threatfox.sha256</td>
                <td>abuse.ch</td>
                <td>CC0</td>
                <td>https://threatfox.abuse.ch</td>
        </tr>
        <tr>
                <td>threatview.*</td>
                <td>Threatview.io</td>
                <td>Unknown</td>
                <td>https://threatview.io</td>
        </tr>
        <tr>
                <td>umair9747.md5</td>
                <td>@umair9747</td>
                <td>Unknown</td>
                <td>https://github.com/umair9747/datasets</td>
        </tr>
        <tr>
                <td>VirusShare_0*.md5</td>
                <td>VirusShare</td>
                <td>"Sharing is Caring"</td>
                <td>https://virusshare.com/hashes</td>
        </tr>
        <tr>
                <td>zimperium-ioc-*.*</td>
                <td>Zimperium</td>
                <td>Unknown</td>
                <td>https://github.com/Zimperium/IOC</td>
        </tr>
</table>

<hr>
<h2>Generation Output:</h2>
<p>(last updated: %%DATE%%)</p>
