---

# manifests
git_repo_local_manifests: "ssh://git@code.binbash.rocks:22227/secureOS/local_manifests.git"
git_repo_main_manifests: "https://github.com/GrapheneOS/platform_manifest.git"

# key dir in sources dir
SRC_KEYSDIR_BASE: keys
SRC_KEYSDIR: "{{ SRC_KEYSDIR_BASE }}/{{ target_model }}"
KEYS_CN: safeOS
KEYS_SIZE: 8192
KEYS_HASHTYPE: sha512

# build vars
custom_release_script: true
ROM_VERSION: "{{ build_id }}"
keysdir: '/home/androidsource/do-not-touch/KEYS/{{ ROM_FLAVOR }}-{{ android_shortversion }}_{{ target_model }}_{{ ROM_TYPE }}'
create_delta_update: "no"
ROM_TYPE: "wq" # wq = with QR license, nq = no QR license
extendrom_package_list: "noGOSpdfviewer noGOSvanadium noGOSauditor noGOScontacts noSeedvault noWizard noStk EmRes OpenEUICC-hidden_AXP-OS"
extendrom_signing_patches: 'false' # we patch graphene's source directly atm
extendrom_patcher_reset: "false"  # as this resets divest patches (e.g. boot animation)
extendrom_signing_force_dir: /home/androidsource/do-not-touch/graphene/vendor/extendrom/config/signing/aosp/A14

# notification vars
ota_hint: |-
  ***OTA Update:*** supported
device_cl: |-
  ***{{ target_model_full }}*** ***\({{ target_model | replace("-","\-") | replace("_","\_") }}\)*** \- ***{{ ROM_FLAVOR | replace("-","\-") }} {{ android_shortversion | replace("-","\-") | replace(".","\.") }}***
rom_cl: |-
  ***Changes:***
  \- GrapheneOS: [Changelog](https://grapheneos.org/releases)
kernel_cl: |-
  \- kernel: [commits](https://github.com/GrapheneOS/kernel_common_5.10/commits/12.1)
dtree_cl: |-
  \- device tree: [commits](https://TBD/)
cdtree_cl: |-
  \- common tree: [commits](https://TBD/)
dl_links: |-
  ***Download:*** TBD

# [{{ ROMFILE.stdout | replace("-","\-") | replace("_","\_") | replace(".","\.") }} ]({{ leech_server }}/{{ ROM_FLAVOR }}/{{ android_shortversion }}/{{ target_model }})

# common snippets for templates

SH_GRAPHENE_GPG: |
       # list of keyservers for importing gpg pub keys
       # space separated
       GPG_KEYSERVER="keyserver.ubuntu.com keys.openpgp.org pgp.mit.edu"

       # gpg keys to import space separated
       # stinger:  65EEFE022108E2B708CBFCF7F9E712E59AF5F22A
       GPG_KEYS="65EEFE022108E2B708CBFCF7F9E712E59AF5F22A"

       F_GET_GPG_KEYS(){
           # import all required gpg pub keys
           for k in $GPG_KEYS;do
              if [ $GPG_FORCE_DL -eq 0 ];then
                  gpg -k $k >> /dev/null 2>&1 && echo "[$FUNCNAME] ... skipping already imported gpg pub key ($k)" && continue
              fi
              for s in $GPG_KEYSERVER;do
                  echo "- trying $k from $s"
                  gpg --keyserver $s --recv-key $k >> /dev/null 2>&1 && echo "[$FUNCNAME] ... imported gpg key $k from $s" && continue 2
              done
              echo "[$FUNCNAME] ERROR: Cannot download a required gpg pub key: $k"
              exit 3
           done
       }

SH_GRAPHENE_VERIFY: |
       echo "BUILDHOME: {{ BUILDHOME }}"
       export HOME="{{ BUILDHOME }}"
       cd {{ SRCPATH }}
       curl https://grapheneos.org/allowed_signers > ~/.ssh/grapheneos_allowed_signers
       cd .repo/manifests
       git config gpg.ssh.allowedSignersFile  {{ BUILDHOME }}/.ssh/grapheneos_allowed_signers
       git verify-tag $(git describe)
       cd {{ SRCPATH }}

# sets the icon on the top right site
SH_GRAPHENE_VPN_ICON: |
      cd {{ SRCPATH }}
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-hdpi/vpn_connected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-mdpi/vpn_connected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-xxhdpi/vpn_connected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-ldpi/vpn_connected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-xhdpi/vpn_connected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-hdpi/vpn_disconnected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-mdpi/vpn_disconnected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-xxhdpi/vpn_disconnected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-ldpi/vpn_disconnected.png
      cp -v vendor/sos/icons/{{ vpn_icon }}.png frameworks/base/core/res/res/drawable-xhdpi/vpn_disconnected.png
      ln -sf stat_sys_vpn_ic.xml.{{ vpn_icon }} vendor/sos/overlay/frameworks/base/packages/SystemUI/res/drawable/stat_sys_vpn_ic.xml

SH_GRAPHENE_BUILD: |
      #!/bin/bash

      # special handling for yarn shit
      export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH" 

      # special handling for A14 and their BS bazel
      touch {{ SRC_KEYSDIR_BASE }}/BUILD
      # special handling as we HAVE to use a sub dir to satisfy the graphene build scripts
      # while setting an own dev key breaks signing when using a sub dir..
      #for r in pk8 pem x509.pem; do ln -fs {{ target_model }}/releasekey.${r} {{ SRC_KEYSDIR_BASE }}/ ;done
      
      # be strict on failures
      set -e

      {{ SH_GRAPHENE_GPG }}

      # CCACHE
      export USE_CCACHE={{ USE_CCACHE }}
      if [ "{{ USE_CCACHE }}" -eq 1 ];then
          export CCACHE_COMPRESS={{ CCACHE_COMPRESS }}
          mkdir -p {{ CCACHE_DIR }}
          export CCACHE_DIR="{{ CCACHE_DIR }}"
          {{ CCACHE_EXEC }} --max-size=10G
      fi

      # enable/add Updater app
      export OFFICIAL_BUILD=true

      # setup build env
      cd {{ SRCPATH }}
      [ -L releases ] && rm releases

      # set build id
      export password=""
      export BUILD_NUMBER="v{{ ROM_VERSION }}"
      export ROM_TYPE="{{ ROM_TYPE }}"
      export BUILD_ID="{{ ROM_VERSION }}"

      # replace aosp build id
      if [ -f build/make/core/version_defaults.mk ]; then
          sed -i "s/BUILD_ID :=.*/BUILD_ID := $BUILD_ID/g" build/make/core/version_defaults.mk
      fi
      if [ -f build/make/core/version_util.mk ];then
          sed -i "s/BUILD_ID :=.*/BUILD_ID := $BUILD_ID/g" build/make/core/version_util.mk
      fi
      echo "ro.build.id=$BUILD_ID" > vendor/sos/vendor.prop
      echo "ro.build.display.id=${BUILD_ID}-${ROM_TYPE}" >> vendor/sos/vendor.prop

      export TARGET_RELEASE=ap1a
      source script/envsetup.sh >> /dev/null 2>&1 || source build/envsetup.sh
      lunch {{ target_model }}-${TARGET_RELEASE}-{{ lunch_buildtype }} || lunch aosp_{{ target_model }}-${TARGET_RELEASE}-{{ lunch_buildtype }}
      
      {% if DOWNLOAD_BLOBS is defined and  DOWNLOAD_BLOBS == "true" %}
      # fetch & extract blobs
      yarn install --cwd vendor/adevtool/
      m -j{{ max_processes }} aapt2
      sudo rm -rf vendor/adevtool/dl/*
      vendor/adevtool/bin/run generate-all -d {{ target_model }}
      {% endif %}

      # ensure mismatching build is non-fatal
      sed -i 's/error /warning /g' vendor/google_devices/{{ target_model }}/{{ target_model }}.mk
      
      # extendrom
      {% if use_extendrom is defined and use_extendrom == "true" %}
      sed -i "s#user-keys#keys/{{ target_model }}#g" vendor/extendrom/repo/packages.txt
      export ENABLE_EXTENDROM={{ use_extendrom }}
      export EXTENDROM_SIGNING_PATCHES={{ extendrom_signing_patches }}
      export EXTENDROM_SIGNING_FORCE_PDIR="{{ extendrom_signing_force_dir }}"
      export EXTENDROM_PATCHER_RESET={{ extendrom_patcher_reset }}
      {%    if ROM_TYPE == "wq" %}
      export EXTENDROM_PACKAGES="{{ extendrom_package_list }} sDevice"
      {%    else %}
      export EXTENDROM_PACKAGES="{{ extendrom_package_list }}"
      find out/target/product/ -type f -name sDevice.apk -delete || true
      {%    endif %}
      $PWD/vendor/extendrom/er.sh
      {% endif %}

      # verify manifests
      {{ SH_GRAPHENE_VERIFY }}

      # The kernel needs to be built in advance, since it uses a separate build system.
      # Prebuilts are provided for all the officially supported devices, so this step is optional.
      # https://grapheneos.org/build#kernel-6th-generation-pixels
      {% if BUILD_GOS_KERNEL is defined and BUILD_GOS_KERNEL == "true" %}
      mkdir android/kernel/{{ target_model }}
      cd android/kernel/{{ target_model }}
      repo init -u https://github.com/GrapheneOS/kernel_{{ target_model }}-manifest.git -b {{ GOS_KERNEL_BRANCH }}
      repo sync -j{{ max_processes }}
      LTO=thin BUILD_KERNEL=1 ./build_{{ target_model }}.sh
      cd {{ SRCPATH }}
      {% endif %}

      # icons replacements
      {{ SH_GRAPHENE_VPN_ICON }}

      # build
      cd {{ SRCPATH }}
      # choosecombo release {{ target_model }} {{ lunch_buildtype }}
      #lunch {{ target_model }}-ap1a-{{ lunch_buildtype }}
      m -j{{ max_processes }} {{ graphene_build_targets }}

      # packaging & signing
      time script/release.sh {{ target_model }}
      echo -e '\n\n\t\e[32m\e[1mBUILDING '$BUILD_ID' for {{ target_model }} FINISHED SUCCESSFULLY!!\e[0m\n'

      # prepare release
      export GBUILDID=$(grep 'ro.system.build.version.incremental' out/target/product/{{ target_model }}/system/build.prop | cut -d = -f 2)
      ln -s ../graphene_releases releases

      # find (the latest) previous release
      PREV_GBUILDID=$(find releases/ -mindepth 1 -maxdepth 1 -type d | sort | tail -n 1 | cut -d '/' -f 2)

      # ... and move current one
      [ ! -d "releases/${GBUILDID}" ] && mkdir releases/${GBUILDID}/
      cp -a out/release-{{ target_model }}-${GBUILDID} releases/${GBUILDID}/

      {% if create_delta_update | d("yes") == "yes" %}
      # create incremental / delta updates if requested
      unset DELTABUILD
      if [ ! -z "${PREV_GBUILDID}" -a "${PREV_GBUILDID}" -lt "${GBUILDID}" ];then
          script/generate_delta.sh {{ target_model }} ${PREV_GBUILDID} ${GBUILDID}
          DELTABUILD="releases/${GBUILDID}/{{ target_model }}-incremental-${PREV_GBUILDID}-${GBUILDID}.zip"
      else
          echo "... skipping delta as PREV_GBUILDID (${PREV_GBUILDID}) is empty / does not exist or is not lower then GBUILDID (${GBUILDID})"
      fi
      {% endif %}

      # release & cleanup previous build (if requested)
      if [ ! -z "{{ release_channel }}" -a "{{ release_channel }}" == "skip" ];then
          echo ".. skipping release as requested ({{ release_channel }})"
      else
          # the cloud VM has issues to response sometimes so lets loop
          # several times in the hope this get fixed
          TRY=1
          while [ $TRY -le 10 ];do
              echo "trying to upload to {{ custom_release_server }} ... (try $TRY of 10)"
              timeout 5m scp releases/${GBUILDID}/release-{{ target_model }}-${GBUILDID}/{{ target_model }}-ota_update-${GBUILDID}.zip \
                  releases/${GBUILDID}/release-{{ target_model }}-${GBUILDID}/{{ target_model }}-factory-${GBUILDID}.zip \
                  releases/${GBUILDID}/release-{{ target_model }}-${GBUILDID}/{{ target_model }}-{{ release_channel }} \
                  $DELTABUILD \
                  {{ custom_release_server }}:{{ custom_release_server_path }}-{{ ROM_TYPE }} && TRY=999
               TRY=$(( TRY + 1 ))
          done
          [ $TRY -ne 1000 ] && echo "Error while uploading update to {{ custom_release_server }}" && exit 3
          echo "Uploaded build ${GBUILDID} successfully to {{ custom_release_server }}"

          # cleanup prev delta build
          if [ ! -z "$DELTABUILD" ] && [ -d "releases/${PREV_GBUILDID}" ] && [ "{{ post_cleanup }}" == "true" ] ;then
              rm -rfv releases/${PREV_GBUILDID} && echo "... deleted previous delta files: ${PREV_GBUILDID}"
          else
              echo "... skipping previous delta cleanup"
          fi
      fi

      echo -e "\nALL FINISHED!\nYou can find the build here: releases/${GBUILDID}/\n\n"
