#!/bin/bash
###############################################################################
# device specs for {{ sub_model | d(target_model) }}
###############################################################################
export HUGO_VENDOR="{{ target_model_vendor }}"
export HUGO_NAME="{{ target_model_name }}"
export HUGO_CODENAME="{{ sub_model | d(target_model) }}"
export HUGO_ANDROID="{{ git_repo_local_manifests_branch | regex_replace('axp-a','') }}"
export HUGO_ENCRYPTION="{{ hugo_encryption }}"
export HUGO_FIRMWARE="{{ hugo_firmware }}"
export HUGO_RELOCKABLE="{{ hugo_relockable }}"
export HUGO_VERIFIEDBOOT="{% if axp_enable_avb | bool %}yes{% else %}no{% endif %}"
export HUGO_FLAVORS="{% if axp_bootloader_id_pro != '' and axp_bootloader_id_slim != '' %}Pro, Slim{% elif axp_bootloader_id_slim != '' %}Slim{% elif axp_bootloader_id_pr != '' %}Pro{% endif %}"
export HUGO_STATE="{{ hugo_state }}"
export HUGO_SUPPORTLEVEL="{{ hugo_supportlevel }}"
export HUGO_DEBUGBOOTPATH="{{ extendrom_debug_path_default }}"
export HUGO_FACTORYZIP="{% if custom_build_command is defined %}yes{% endif %}"
export HUGO_ISAB="{{ hugo_isab }}"
export HUGO_ISPIXEL="{% if target_model_name | upper is search('PIXEL.*') %}yes{% endif %}"
export HUGO_KILINK="{{ hugo_kb_link }}"
export HUGO_CI_GUIDE="{% if hugo_custom_installguide_path is defined %}yes{% endif %}"
export HUGO_CI_GUIDE_PATH="{{ hugo_custom_installguide_path }}"
export HUGO_XDALINK="{{ hugo_xda_link }}"
export HUGO_FIRSTRELEASE="{{ hugo_first_releasedate }}"
