# source file for {{ sub_model | d(target_model) }}
# used by update_firmware.sh to auto-include firmware on Ansible run
#
# check {{ automation_repo }}/roles/axp/{{ sub_model | d(target_model) }}/vars/main.yml for source details 
########################################################################################################################################################################
