#!/bin/bash
####################################################################################################################

# be strict on failures
set -e

# DOS stupid workarounds (they use fedora and /bin/sh -> /bin/bash)
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$HOME/.local/bin:$PATH"
alias rename="/home/jenkins/util-linux/usr/bin/rename"
alias sh=/bin/bash

# fix build errors
export LC_ALL=C

# unset any extendrom var
unset EXTENDROM_DEBUG_PATH EXTENDROM_BOOT_DEBUG EXTENDROM_PREROOT_BOOT ENABLE_EXTENDROM EXTENDROM_PACKAGES

########################### SYNC / PREPARE #########################

# required for including the right DOS vars
export BDEVICE={{ target_model }}

# go to the real build dir
cd {{ SRCPATH }}

########################### BUILD #########################

# setup build env
source ../../Scripts/init.sh
source build/envsetup.sh
breakfast lineage_{{ target_model }}-user

# CCACHE
export USE_CCACHE={{ USE_CCACHE }}
if [ "{{ USE_CCACHE }}" -eq 1 ];then
    export CCACHE_COMPRESS={{ CCACHE_COMPRESS }}
    mkdir -p {{ CCACHE_DIR }}
    export CCACHE_DIR="{{ CCACHE_DIR }}"
    {{ CCACHE_EXEC }} --max-size=10G
fi

# extendrom
export ENABLE_EXTENDROM=true
export EXTENDROM_PACKAGES="{{ extendrom_package_list }}"
export EXTENDROM_PREROOT_BOOT=true
export MAGISK_TARGET_ARCH=arm64
export EXTENDROM_BOOT_DEBUG=true
export EXTENDROM_DEBUG_PATH=/metadata
export EXTENDROM_DEBUG_PATH_SIZE_FULL=200
export EXTENDROM_DEBUG_PATH_SIZE_KERNEL=100
vendor/extendrom/er.sh

# build
mka generate_verity_key
#mka sepolicy
buildDevice hotdog
