#!/bin/bash
####################################################################################################################

# be strict on failures
set -e

# fix build errors
export LC_ALL=C

unset EXTENDROM_DEBUG_PATH EXTENDROM_BOOT_DEBUG EXTENDROM_PREROOT_BOOT ENABLE_EXTENDROM EXTENDROM_PACKAGES

########################### SYNC / PREPARE #########################

export BDEVICE={{ target_model }}

# move to the real build dir
cd {{ SRCPATH }}

# make signing keys extendrom compatible
[ ! -L user-keys ] && ln -s ../../Signing_Keys/4096pro/{{ target_model }}/ user-keys

# add the local manifest
[ -d .repo/local_manifests ] && rm -rf .repo/local_manifests
git clone {{ git_repo_local_manifests }} .repo/local_manifests -b {{ git_repo_local_manifests_branch }}

# sync Android
source ../../Scripts/init.sh
rm -rf packages/apps/Fennec_DOS-Shim/ vendor/divested/ vendor/fdroid_prebuilt/ packages/apps/SupportDivestOS/
resetWorkspace
repo forall -j${DOS_MAX_THREADS_REPO} -c 'git am --abort; git revert --abort' || true
repo init -u https://github.com/LineageOS/android.git -b lineage-20.0 --git-lfs;
repo sync -j${DOS_MAX_THREADS_REPO} 
patchWorkspace

# worarkound for dirty builds
[ -d out/target/product/$BDEVICE/rec_tmp ] && rm -rf out/target/product/$BDEVICE/rec_tmp

# DOS workaround for 20.0+
awk -i inplace '!/enforce-product-packages-exist-internal/' vendor/lineage/config/common.mk

########################### BUILD #########################

# setup build env    
source build/envsetup.sh
breakfast lineage_{{ target_model }}-user

# CCACHE
export USE_CCACHE={{ USE_CCACHE }}
if [ "{{ USE_CCACHE }}" -eq 1 ];then
    export CCACHE_COMPRESS={{ CCACHE_COMPRESS }}
    mkdir -p {{ CCACHE_DIR }}
    export CCACHE_DIR="{{ CCACHE_DIR }}"
    {{ CCACHE_EXEC }} --max-size=10G
fi

# ??
make -j15 generate_verity_key

# extendrom
export ENABLE_EXTENDROM=true
export EXTENDROM_PACKAGES="{{ extendrom_package_list }}"
export EXTENDROM_PREROOT_BOOT=true
export MAGISK_TARGET_ARCH=arm64
export EXTENDROM_BOOT_DEBUG=true
export EXTENDROM_DEBUG_PATH=/metadata
export EXTENDROM_DEBUG_PATH_SIZE_FULL=200
export EXTENDROM_DEBUG_PATH_SIZE_KERNEL=100
vendor/extendrom/er.sh

# build
#mka sepolicy
#mka bootimage

# disable incremental builds:
[ -d /ssd/xos/builds/LineageOS-{{ los_version }}/release_keys/ ] && rm -r /ssd/xos/builds//LineageOS-{{ los_version }}/release_keys/

buildDevice hotdog
